
/* Alive turkey*/
body{
    background-color: #FAA14A;
}
h1{
    text-align: center;
    font-size: 80px;
    color: rgb(100, 29, 8);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.turkey{
    top: 150px;
    width: 100px;
	margin: 100px auto;
	text-align: center;
	position: relative;
}
a{
    color: #975D35;
    
}
.btn{
    font-size: small;
}
.turkey-body{
	margin: auto;
	width: 60px;
	height: 60px;
	background-color: #975D35;
	border-radius: 50%;
    position: relative;
    cursor: pointer;
    bottom: 10px;
}
p{
    top:100px;
    padding-top: 10px;
    font-size: 15px;
    color: rgb(100, 32, 0);
}

.turkey-body:after{
	content: "";
	width: 100px;
	height: 30px;
	background-color:  #FAA14A;
	position: absolute;
	bottom: 0;
    left:0;
    cursor: pointer;
}

.head{
	margin: auto;
    width: 40px;
    height: 40px;
    position: relative;
    background-color: #975D35;
    border-radius: 50%;
    top: 15px;
}

.eye{
	width: 13px;
	height: 15px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top:5px;
}

.eye:after{
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: black;
	border-radius: 50%;
	top:5px;

}
.eye-left{
	left:6px;
	
}


.eye-right{
	left:18px;
}



.beak{
    position: relative;
    top: 17px;
    left: 12px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 14px solid #BE2928;
    z-index: 1;
    border-radius: 50%;
}

.beak:before{
    content: "";
    position: absolute;
    top: -14px;
    left: -6px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #FAA14A;
    border-radius: 50%;
}

.feather{
    display: inline-block;
    height: 60px;
    width: 14px;
    border-radius: 63%;
    background-color: #5F3917;
    position: absolute;
    bottom: 30px;
    border:1px solid #F0A54B;
    border-top: 10px solid #BE2928;
    box-sizing: border-box;
}

.feather:nth-child(1){
    transform: rotate(-90deg);
    top: 33px;
    left:0;
}

.feather:nth-child(2){
	transform: rotate(-80deg);
    top: 20px;
    left:0;
}

.feather:nth-child(3){
    transform: rotate(-70deg);
    top: 8px;
    left: 4px;
}

.feather:nth-child(4){
    transform: rotate(-60deg);
    top: -2px;
    left: 10px;
}

.feather:nth-child(5){
    transform: rotate(-50deg);
    top: -10px;
    left: 18px;
}

.feather:nth-child(6){
    transform: rotate(-35deg);
    top: -18px;
    left: 29px;
}

.feather:nth-child(7){
	transform: rotate(-3deg);
    top: -20px;
    left: 40px;
}

.feather:nth-child(8){
	transform: rotate(24deg);
    top: -17px;
    left: 50px;
}

.feather:nth-child(9){
    transform: rotate(36deg);
    top: -12px;
    left: 62px;
}

.feather:nth-child(10){
    transform: rotate(45deg);
    top: -4px;
    left: 72px;
}

.feather:nth-child(11){
    transform: rotate(55deg);
    top: 6px;
    left: 80px;
}
.feather:nth-child(12){
    transform: rotate(75deg);
    top: 18px;
    left: 85px;
}
.feather:nth-child(13){
    transform: rotate(83deg);
    top: 32px;
    left: 86px;
}

@keyframes eye_ball_left{
	from { -webkit-transform: rotate(0deg) translateX(1px) rotate(0deg); }
    to   { -webkit-transform: rotate(-360deg) translateX(1px) rotate(360deg); }
}

@keyframes eye_ball_right{
	from { -webkit-transform: rotate(0deg) translateX(1px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(1px) rotate(-360deg); }
}